.mt-20{
    margin-top:  20px;
}
.card{
    box-shadow: 10px 10px 20px rgba(0,10,50,0.3);
    box-sizing: content-box;
}
.footer-edit{
    height: 70px;
}

.copy{
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
}
.style{
    display: flex;
    justify-content: flex-end;
}
.create-post-btn{
    margin-bottom: 15px;
}

.page-wrapper{
    margin: 50px auto;
    padding:20px 15px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
}

.page-wrapper h1{
    margin-bottom: 20px;
    text-align: center;
}

.card-block{
    padding:15px;
}
.mt20{
    margin-top: 15px;
}
.row-wise{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}
.w5{
    width: 5%;
}
.w40{
    width: 40%;
}
.w20{
    width: 20%;
}
.article-in-line{
    padding-left: 10px;
    flex-wrap: wrap;
}
.article-in-line:nth-of-type(odd){
    background: rgba(0,0,0,0.05);
}
.mt-50{
    margin-top: 70px;
}
a.nav-link :hover{
    font-size: 30px !important;
}
.w60{
    width: 60%;
}
.w100{
    width: 100%;
}
.sight-container{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 15px 50px;
    width: 100%;
    transition: width 0.5s;
}
.sight-container h2{
    text-align: center;
}
.sight-container img{
    width: 100%;
    height: 75%;
}
.sight-container .date{
    font-weight: bold;
}
.login-container{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc; 
    padding: 20px 15px 30px;  
}
.login-container h2{
    text-align: center;
    margin-bottom: 20px;
}
#myTabContent{
    margin-top: 20px;
}
.effects{
    width: 100%;
    height: 100%;
}
.effects:hover{
    background: rgba(0,0,0,0.8);
    color: white;
}
.mt20{
    margin-top: 20px;
}
a.nav-link:hover{
    background: rgba(0,0,0,0.4);
    color: white;
    border-radius: 5px;
}
.non-accessible{
    display: none;
}
.contact-btn-edit{
    margin-top:16px;
    margin-bottom: 14px;
}
.my-image{
    box-shadow: 0 0 10px rgb(0,0,0);
}